<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <center>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/movies">Movies</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/workers">workers</a>
                  </li>
                  </ul>
                </center>
</nav>